body {
    background-color: #FFF7F0;
    color: #030303;
    font-family: "Plus Jakarta Sans", sans-serif;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* top, right, bottom, left */
    padding:20px 60px 10px 70px ;
  }
  

  #logo img {
    width: 64px;
    aspect-ratio: 1;
  }
  
  #call-to-action {
    background-color: #030303;
    color: #FFF7F0;
    text-decoration: none;
    padding: 14px 45px;
    border-radius: 1000px;
    
  }
  
  .text-content {
    text-align: center;
    padding: 10px 135px 10px 135px;
  }
  
  h1 {
    font-size: 46px;
    margin-block-end: 22px;
  }
  
  .text-content p {
    color: #7A746E;
    font-size: 20px;
    padding: 5px 90px 5px 90px;
    max-width: 1200px;  
    margin: 0 auto;
  }
  
  .image-container {
    display: flex;
    gap: 24px;
    padding: 20px 75px;
    height: 280px;
    max-width: 1200px; 
    margin: 0 auto;
  }
  
  .image-container a {
    aspect-ratio: 4 / 5;
    background-color: lavender;
    border: #030303 solid 1px;
    flex-basis: 100%;
    text-decoration: none;
  }


  #cajita1{
    background-color: #755CDE;
    border-radius: 8px;
    border-color: #755CDE;
    overflow: hidden;
  }


  #cajita1 h2{
    padding: 0px 10px 0px 10px;
    color: #ffffff;
    text-decoration: none;
  }
  
  #cajita1 img{
    width: 100px;
     /* top, right, bottom, left */
    padding: 15px 10px 50px 235px ;
  }

  #cajita2{
    background-color: #EB7565;
    border-radius: 8px;
    border-color: #EB7565;
    overflow: hidden;
  }

  #cajita2 h2{
    padding: 0px 10px 0px 20px;
    color: #ffffff;
    text-decoration: none;
  }

  #cajita2 img{
    width: 190px;
     /* top, right, bottom, left */
    padding: 15px 14px 105px 145px ;
  }

  #cajita3{
    border-radius: 8px;
    background-color: #61C4B7;
    border-color: #61C4B7;
    overflow: hidden;
  }

  #cajita3 h2{
    padding: 0px 10px 0px 20px;
    color: #ffffff;
    text-decoration: none;
  }

  #cajita3 img{
    width: 70px;
     /* top, right, bottom, left */
    padding: 15px 10px 25px 265px ;
  }


  .contenedor2 {
    display: grid; 
    grid-template-columns: auto auto auto;
    /* grid-template-columns: repeat(3, 1fr);  */
    gap: 20px;
    margin: 0 auto; 
    padding: 80px 90px 10px 90px;
    box-sizing: border-box; 
  }


  #infoImage, #vacio, #info {
      padding: 20px;
      border-radius: 8px;
  }

  #infoImage {
      background-color: #FFF7F0; 
  }

  #vacio {
      background-color: #FFF7F0;
  }

  #info {
      background-color: #FFF7F0;
  }

  #info h2{
    font-size: 35px;
  }

  button{
    background-color: #EB7565;
    border: none;
     /* top, right, bottom, left */
    padding: 13px 27px 13px 27px;
    border-radius: 20px;
    color: #FFFF;
    cursor: pointer;
  }

  button :hover{
    background-color: #61C4B7;
  }