:root{
  --fondo:#FFF7F0;
  --icons: #030303;
  --white: #ffffff;
  --orange: #EB7565;
  --yellow: #F6A560;
  --terracota: #7A746E;
  --box1: #755CDE;
  --box2: #61C4B7;
}

body {
    background-color:var(--fondo);
    color: var(--icons);
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 1rem;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4vw 0.5rem 4vw;
  }
  

  #logo img {
    width: 5rem;
    aspect-ratio: 1;
    padding: 20px 0px 0px 50px;
  }
  
  #call-to-action {
    background-color:var(--icons);
    color: var(--fondo);
    text-decoration: none;
    padding: 1rem 3rem;
    border-radius: 1000px;
    
  }
  
  .text-content {
    text-align: center;
    padding: 1rem 8vw;
  }
  
  h1 {
    font-size: 4rem;
    margin-bottom: 1em;
  }
  
  .text-content p {
    color: var(--terracota);
    font-size: 1.6rem; 
    padding: 1rem 5vw;
    max-width: 75%; 
    margin: 0 auto;
  }
  
  .image-container {
    display: flex;
    gap: 2rem;
    padding: 2rem 6vw;
    height: 40vh; 
    max-width: 1200px; 
    margin: 0 auto;
   
  }
  
  .image-container a {
    aspect-ratio: 4 / 5;
    border: var(--icons) solid 1px;
    flex-basis: 100%;
    text-decoration: none;
  }


  #cajita1{
    background-color: var(--box1);
    border-radius: 8px;
    border-color: var(--box1);
    overflow: hidden;
    padding: 1rem;
    
  }


  #cajita1 h2{
    padding: 0px 10px 0px 10px;
    color: var(--white);
    text-decoration: none;
  }
  
  #cajita1 img{
    max-width: 30%;
    padding: 0.625rem 0.625rem 6.25rem 0px;
    margin-left: auto;
    display: block; 
  }

  #cajita2{
    background-color:var(--orange);
    border-radius: 8px;
    border-color: var(--orange);
    overflow: hidden;
    padding: 1rem;
  }

  #cajita2 h2{
    padding: 0px 10px 0px 20px;
    color: var(--white);
    text-decoration: none;
  }

  #cajita2 img{
    max-width: 60%;
    padding:  0.625rem 0.75rem 10.9375rem 0px;
    margin-left: auto;
    display: block;
  }

  #cajita3{
    border-radius: 8px;
    background-color: var(--box2);
    border-color: var(--box2);
    overflow: hidden;
    padding: 1rem;
  }

  #cajita3 h2{
    padding: 0px 10px 0px 20px;
    color: var(--white);
    text-decoration: none;
  }

  #cajita3 img{
    max-width: 27%;
     /* top, right, bottom, left */
    padding: 0.625rem 0.625rem 2.8125rem 13.4375rem;
    margin-left: auto;
    display: block;
  }


  .contenedor2 {
    display: grid; 
    grid-template-columns: auto auto auto;
    gap: 10px;
    margin: 200px; 
    box-sizing: border-box; 
  }


  #infoImage, #vacio, #info {
      padding: 2rem;
      border-radius: 8px;
      font-size: 1.2em;
      text-align: justify;
     
  }

  #infoImage img{
    width: 300px;
  }

  #infoImage {
    background-color:var(--fondo);
     padding: auto auto auto auto;
  }

  #vacio {
      background-color: var(--fondo);
  }

  #info {
      background-color:var(--fondo);
  }

  #info h2{
    font-size: 35px;
  }

  button{
    background-color: var(--orange);
    border: none;
    padding: 1rem 2rem; 
    border-radius: 20px;
    color: var(--white);
    cursor: pointer;
  }

  button :hover{
    background-color: var(--box2);
  }

  
  .contenedor3 {
    display: flex;
    gap: 2rem;
    height: 25vh; 
    max-width: 1200px; 
    margin: 0 auto;
    justify-content: center;
    align-items: center;
   
  }

  .contenedor4 {
    background-color: var(--icons);
    display: grid; 
    grid-template-columns: auto auto auto;
    gap: 10px;
    margin: 200px; 
    place-items: center;
    color: var(--white);
    padding: 10px 50px 10px 50px;
  }


  #column1, #column2, #column3 {
      padding: 2rem;
      border-radius: 8px;
      font-size: 1.2em;
      text-align: justify;
      
  }


  #call-to-action:hover{
    background-color: var(--box1);
  }

  #boton:hover{
    background-color: var(--yellow);
  }

  
  /* Media Query */

/* MOVIL */
  @media (max-width: 599px){ 
    #logo img {
      width: 4rem;
      padding: 10px 20px 0px 10px;
    }

    #call-to-action {
      padding: 1rem 1rem; 
    }

    h1 {
      font-size: 3rem;
    }

    .text-content p {
      font-size: 1.2rem; 
    }
    
    .image-container {
      display: flex;
      /*cajita vertical*/
      flex-direction: column; 
      margin: 50px 5px 50px 5px;
      height: 1000px;
      justify-content: center;
      align-items: center;
    }

    #cajita1{
      width: 87%;
      height: 210px;
    }

    #cajita1 h2{
      font-size: 15px;
    }

    #cajita1 img{
      width: 20%;
      padding-bottom: 100px;
    }


    #cajita2{
      width: 87%;
      font-size: 0.3rem;
      height: 210px;
    }

    #cajita2 h2{
      font-size: 15px;
    }

    #cajita2 img{
      width: 30%;
      padding-bottom: 155px;
    }

    #cajita3{
      width: 87%;
      font-size: 15px;
      height: 210px;
    }

    #cajita3 h2{
      font-size: 15px;
    }

    #cajita3 img{
      width: 15%;
      padding-left: 90px;
      padding-bottom: 70px;
    }

    
    .contenedor2 {
      display: grid;
      grid-template-columns: auto; /*UNA COLUMNA*/
      place-items: center;
      margin: 0%;
      padding-top: 0%;
    }


    #infoImage, #vacio, #info {
        font-size: 1em;
        text-align: center;
    }

    #infoImage img{
      width: 200px;
    }

    .contenedor3 {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      height: 25vh; 
      max-width: 1200px; 
      margin: 0 auto;
      justify-content: center;
      align-items: center;
      height: 120vh;
    }

    .contenedor4 {
      background-color: var(--icons);
      grid-template-columns: auto;
      place-items: center;
      margin: 0%;
      padding-top: 0%;
     
    }
  
  
    #column1, #column2, #column3 {
        padding: 2rem;
        border-radius: 8px;
        font-size: 1.2em;
        text-align: center; 
    }

    #column1{
      font-size: 15px;
    }
    #column2{
    padding: 0%;    
    }
    #column3{
      padding: 0%;    
      }

  }


  /* IPAD */
@media (min-width: 600px) and (max-width: 1024px) {
    .image-container {
      margin: 50px 5px 30px 5px;
      height: 80vh; 
       flex-wrap: wrap;
      gap: 50px;
      padding-bottom: 10px;
    }

    #cajita1{
      flex: 1 1 35%;
      font-size: 10px;
      height: 260px;
    }

    #cajita1 img{
      width: 50%;
      padding-bottom: 55px;
    }

    #cajita2{
      flex: 1 1 35%;
      font-size: 10px;
      height: 262px;
    }

    #cajita2 img{
      width: 50%;
      padding-bottom: 111px;
    }

    #cajita3 {
      width: 50%;
      text-align: left;
      padding-left: 0px;
      font-size: 10px;
      height: 300px;
      padding-top: 0px;
    }

    #cajita3 img{
      width: 10%;
      padding: 30px 10px 30px 0px;
      flex-direction: column;
    }


    .contenedor2 {
      display: grid; 
      grid-template-columns: auto 10px auto; 
      gap: 3px;
      margin: auto; 
      place-items: center;
      padding-top: 180px;
    }
  
  
    #infoImage, #vacio, #info {
        font-size: 1em;
        text-align: left;
    }

    #infoImage img{
      width: 200px;
    }


    .contenedor3 {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      height: 25vh; 
      max-width: 1200px; 
      margin: 0 auto;
      justify-content: center;
      align-items: center;
      height: 120vh;
    }

    .contenedor4 {
      background-color: var(--icons);
      grid-template-columns: auto;
      place-items: center;
      margin: 0%;
      padding-top: 0%;
     
    }
  
  
    #column1, #column2, #column3 {
        padding: 2rem;
        border-radius: 8px;
        font-size: 1.2em;
        text-align: center; 
    }

    #column1{
      font-size: 15px;
    }
    #column2{
    padding: 0%;    
    }
    #column3{
      padding: 0%;    
      }

  }  


  /*ESCRITORIO*/

  @media (min-width: 1025px){
    .image-container {
      height: 43vh; 
    }
    
  }